<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<classes>
			<class name="Checkmypage_PC.Checkmypage_PC.MypageStart" />
			<class name="Checkmypage_PC.Checkmypage_PC.MypageOrderlist" />
			<class name="Checkmypage_PC.Checkmypage_PC.MypageCancel" />
			<class name="Checkmypage_PC.Checkmypage_PC.MypageNuseticket" />
			<class name="Checkmypage_PC.Checkmypage_PC.MypageWishlist" />
			<class name="Checkmypage_PC.Checkmypage_PC.MypageCoupon" />
			<class name="Checkmypage_PC.Checkmypage_PC.MypagePoint" />
			<class name="Checkmypage_PC.Checkmypage_PC.MypageQnA" />
			<class name="Checkmypage_PC.Checkmypage_PC.MypageReview" />
			<class name="Checkmypage_PC.Checkmypage_PC.MypageQue" />
			<class name="Checkmypage_PC.Checkmypage_PC.MypageMmodify" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
